In [19]:
import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns
import world_bank_data as wb

In [20]:
CO2_EMISSION_DATA = "EN.ATM.CO2E.KT"
POVERTY_HEADCOUNT_RATIO_DATA = "SI.POV.DDAY"
COUNTRY_LAND_AREA_DATA = "AG.LND.TOTL.K2"
COUNTRY_GDP_DATA = "NY.GDP.MKTP.CD"

In [21]:
co2_series = (
    wb.get_series(CO2_EMISSION_DATA, simplify_index=True)
    .reset_index()
    .rename(columns={CO2_EMISSION_DATA: "co2 emissions"})
)

In [23]:
poverty_ratio_series = (
    wb.get_series(POVERTY_HEADCOUNT_RATIO_DATA, simplify_index=True)
    .reset_index()
    .rename(columns={POVERTY_HEADCOUNT_RATIO_DATA: "poverty percentage"})
)

In [25]:
country_land_area_series = (
    wb.get_series(COUNTRY_LAND_AREA_DATA, simplify_index=True)
    .reset_index()
    .rename(columns={COUNTRY_LAND_AREA_DATA: "land area"})
)

In [27]:
country_gdp_series = (
    wb.get_series(COUNTRY_GDP_DATA, simplify_index=True)
    .reset_index()
    .rename(columns={COUNTRY_GDP_DATA: "GDP"})
)

In [28]:
country_gdp_series.head()

      Country  Year  GDP
0  Arab World  1960  NaN
1  Arab World  1961  NaN
2  Arab World  1962  NaN
3  Arab World  1963  NaN
4  Arab World  1964  NaN